@import "Zad2Base.css";

nav a{
    text-decoration: none;
    color: black
}

article{
    float:right;
    margin-left:235px;
}
  
footer{
    float:right;
    margin-left:235px;
}


.print{
    display: none;
}

#hide {
    display: none;
}
#unhide:hover #hide{
    display: block;
}