body{
    background-color: beige;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header{
    clear: both;
    float: left;
    position: fixed;
    background-color: darkgray;
    border: 1px solid black;
    left:0;
    width:235px;
    height:100%;
}

article{
    min-height:100%;
}


article section{
       margin-left: 10px;
}

article h2{
       margin-left: 10px;
}

article img{
       margin-left: 10px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.booklist li{
 list-style: upper-roman;   
}

.bookauthor{
    text-transform: uppercase;
}

.booktitle{
    font-style: italic;
}